.special_pannel {
  border-bottom: 1px solid #bebebe;
  margin: 20px 0 0 0;
  .menu {
    display: flex;
    align-items: center;
  }
  .tab_option {
    box-shadow: none;
    margin-left: 20px;
    .tab {
      font-weight: bold;
      font-size: 14px;
      color: #000
    }
  }
  .content_review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .content_review_inner {
      padding: 20px;
      margin-top: 10px;
      border: 1px solid pink;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    }
    .profile {
      display: flex;
      align-items: center;
      padding: 0;
      .avatar {
        border-radius: 50%;
        overflow: hidden;
      }
      .infor {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
    .teaser {
      padding-left: 84px;
      padding-top: 20px;
      text-align: left;
      .content_teaser {
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .read_more{
        a{
          color: #000;
          text-decoration: revert;
        }
      }
    }
    .rating {
      display: flex;
      height: 23px;
      margin-bottom: 4px;
      flex-wrap: nowrap;
      align-items: center;
      .rate {
        display: flex;
        align-items: center;
        background-color: #000;
        width: 50px;
        border-radius: 7px;
        justify-content: center;
        color: #fff;
        margin-left: 15px;
        height: 88%;
        svg {
          width: 10px;
        }
        span {
          font-size: 12px;
          margin-left: 5px;
          color: #fff;
          background-color: #000;
        }
      }
    }
  }
  .content_discussions {
    .list_discuss {
      width: 100%;
      tr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        padding: 5px 20px;
        border: 1px solid #bababa;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
      }
      .post_infor {
        display: flex;
        align-items: center;
        .avatar {
          border-radius: 50%;
          overflow: hidden;
        }
      }
      .discuss_infor {
        width: 60%;
        .desc {
          margin-left: 20px;
        }
      }
      .discuss_date {
        text-align: right;
        font-size: 13px;
      }
    }
  }
  a {
    text-decoration: none;
  }
  h3 {
    font-size: 1.4em;
    font-weight: 700;
    margin: 0;
  }
  h5 {
    font-size: 13px;
    font-weight: normal;
    padding: 0;
    margin: 0;
  }
}